.inline-svg {
    display:block;
    margin:0 auto;
}


.no-scroll {    
    -webkit-overflow-scrolling: touch;
    position: fixed;  
}

.icon {
    height: 1rem;
    width: 1rem;

    &.icon--deskop-menu {
        transform: rotate(180deg);
        transition: 0.2s ease;
        color: lighten($hgd-color-text, 25%);
    }
}

.color-yellow {
    color: #FFFF8D;
}

.color-pink {
    color: #F8BBD0;
}

.color-orange {
    color: #FF9800
}

.color-brown {
    color: #A1887F;
}

.color-blue {
    color: #42A5F5;
}

.color-black {
    color: #000000;
}

.color-gray {
    color: #BDBDBD;
}

.color-green {
    color: #4CAF50;
}

.color-red {
    color: #C62828;
}

.color-white {
    color: #FFFFFF;
}

.close-x {
    stroke: black;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
  }