.nav-mobile {
    position: relative;
    // top: 0;
    // width: 100%;

    &.transition--bg1.expand {
        top: 0;
        height: 100%;
        width: 100%;
        background-color: $hgd-color-cream;
        transition: background-color 1s ease-in-out;
        overflow-y: auto;
        z-index: 2;
    }
    
    a  {
        display: block;
        text-decoration: none;
        color: $hgd-color-text;
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            color: $hgd-color-text;
        }
    }

    .nav-mobile__header {    
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;    
        transition: background-color 1s ease-in-out;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
        &.expand {
            background-color: $hgd-color-cream;
        }
    
        .nav-mobile__header__logo {
            max-width: 196px;
        }    
    }

    .nav-mobile__menu  {
        transition: background-color 1s ease-in-out;
        background-color: #ffffff;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        &.expand {
            background-color: $hgd-color-cream;
        }
        .menu__item {           
            font-size: 2rem;
            line-height: 1;
            margin: 0 1rem;
            letter-spacing: 0.35px;
            border-bottom: 1px solid rgba(0,0,0,0.23);

            a {
                padding: 1rem;
            }
            
        }

        .menu__item__sub-items {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .menu__item__sub-item {
                font-size: 1rem;
                flex: 0 0 115px;
                line-height: 1;
                margin: 0 0 0.5rem 0;

                a {
                    padding: 0 1rem 0.75rem 1rem;
                }

            }
        }

        .menu__socials {
            margin: 2rem 0 0.5rem 0;
            display: flex;
            justify-content: center;

            a {
                margin: 0 0.5rem;
            }
        }
    }    
        
}

  .collapsible-toggler * {    
        pointer-events: none;
   }

  .collapsible-content {
    max-height: 0px;
    overflow: hidden;  
    transition: max-height 0.2s;

    &.expand {
        max-height: 700px;
        transition: max-height 2s ease-out;
      }  
  }

  


// menu hamburger svg animation
  .svg-menu-toggle {

	fill: $hgd-color-text;
	pointer-events:all; //needs to be there so the hover works
	cursor:pointer;

	.bar {

		-webkit-transform:rotate(0) translateY(0) translateX(0);
		transform:rotate(0) translateY(0) translateX(0);
		opacity:1;


		-webkit-transform-origin: 20px 10px;
		transform-origin: 20px 10px;

		-webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.25s ease-in-out;
	    transition: transform 0.4s ease-in-out, opacity 0.25s ease-in-out;

	}
  .bar:nth-of-type(1) {
    -webkit-transform-origin: 20px 10px;
		transform-origin: 20px 10px;

  }
   .bar:nth-of-type(3) {
    -webkit-transform-origin: 20px 20px;
		transform-origin: 20px 20px;

   }

}

.expand .svg-menu-toggle {

    .bar:nth-of-type(1) {		
		-webkit-transform:rotate(-45deg) translateY(0) translateX(0);
		transform:rotate(-45deg) translateY(0) translateX(0);
    }

    .bar:nth-of-type(2) {
		opacity:0;
    }

    .bar:nth-of-type(3) {		
    	-webkit-transform:rotate(45deg) translateY(0em) translateX(0em);
		transform:rotate(45deg) translateY(0em) translateX(0em);

    }
}
